.Blog_Title
{
    margin-top: 10px;
    margin-bottom:10px;
    font-weight: 400;
    font-size: 22px;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.Blog_Date
{
    margin-top: 10px;
    margin-bottom:10px;
}

.Blog_Entry
{
    margin-bottom:50px;
}

.Blog_Text
{
    margin-top: 15px;
    margin-bottom:10px;
    font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 16px;
}

.userAvatar
{
    margin-right:5px;
}

.userInfo
{
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
}