.Blog_Title
{
    margin-top: 10px;
    margin-bottom:10px;
}

.Blog_Date
{
    margin-top: 10px;
    margin-bottom:10px;
}

.Blog_Entry
{
    margin-bottom:50px;
}

.Blog_Text
{
    margin-top: 10px;
    margin-bottom:10px;
}